.page-container {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #CCEFEF;
}

.sidebar {
  width: 300px;
  background: #006D71;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 12px;
}

.sidebar h3 {
  margin: 30% 0 15% 0;
  font-size: 36px;
  color: #9CDBDF;
}

.chat-input {
  display: flex;
  background: white;
  border-radius: 8px;
  padding: 10px;
  height: 30%;
}

.chat-input textarea {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 14px;
  color: #333;
  text-align: left;
  vertical-align: top;
  resize: none;
  height: 80px;
}

.sidebar button {
  background: #01B6BC;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.icon-btn {
  padding: 4px 8px;
  font-size: 12px;
  margin-left: 5px;
}

.chat-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.main-content {
  flex: 1;
  padding: 20px;
  background: #f4f6f9;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #CCEFEF;
  border-radius: 12px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
h2 {
  text-align: left;
  margin-bottom: 30px;
  color: #2c3e50;
  font-size: 26px;
}
.producto {
  background: #E8FDFF;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 30px;
  min-height: 400px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: left;
}

.producto:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0,0,0,0.15);
}
.producto h3 {
  margin: 0;
  color: #34495e;
  font-size: 25px;
}
.producto .descripcion{
  color: #555;
  margin: 0px 0 25px;
  line-height: 1.5;
}
.producto .precio{
  font-size: 30px;
  font-weight: lighter;
  color: #9e9e9e;
  margin: 5px;
}
button {
  background: #27ae60;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: background 0.3s ease;
}
button:hover {
  background: #1e8449;
}

.producto-image{
  display: flex;
  width: 100%;
  height: 50%;
  border-radius: 8px;
  margin-bottom: 15px;
  background: #9e9d9d;
}

